.with_title.postcode_search
  = form.input :postcode, as: :string, label: 'Enter postcode', input_html: { id: 'postcode_search' }, wrapper_html: { class: form.object.errors.any? ? 'hidden' : '' }, required: false
  .input
    %a.button.secondary#find_address{ class: form.object.errors.any? ? 'hidden' : '' }
      Find Address
%p.error.hidden

%p
  %a#manual_entry{ href: '#', class: form.object.errors.any? ? 'hidden' : '' }
    Enter address manually

%h3#your_postcode.hidden
  Postcode
  %p.postcode
    %span
    %a#change_postcode{ href: '#'}
      Change

= form.input :addresses, as: :fake_select, collection: [], class: 'hidden', label: 'Select an address', input_html: { class: 'addresses' }, wrapper_html: { class: 'hidden'}


#address_elements{ class: form.object.errors.any? ? '' : 'hidden' }
  - questions.each do |q|
    = render partial: q['widget'].to_s, locals: { form: form, question: q }
