= form.input :postcode, as: :string, label: 'Enter postcode', input_html: { id: 'postcode_search' }
%p.error.hidden

%p
  %a#manual_entry{ href: '#' }
    Enter address manually

%h3#your_postcode.hidden
  Postcode
  %p.postcode
    %span
    %a#change_postcode{ href: '#'}
      Change

= form.input :addresses, as: :fake_select, collection: [], class: 'hidden', label: 'Select an address', input_html: { class: 'addresses' }, wrapper_html: { class: 'hidden'}

.input
  %a.button#find_address
    Find Address
    
#address_elements.hidden
  - @questions.each do |q|
    = render partial: q['widget'].to_s, locals: { form: form, question: q }
