%p
  %span.bold Great news,
  it looks like you’re eligible to be a foster carer. Thank you for taking the time, if you're interested in speaking to our fostering team about your next steps then please enter your contact details below and we will be in touch with you.

%p
  If you want to find out more then
  = link_to 'download our foster carer information pack', download_info_pdf_path, target: :blank
  to learn more about Hackney Fostering.

