%p=question['content']

%p
  If you want to find out some more then
  = link_to 'download our foster carer information pack', 'https://www.hackney.gov.uk/media/10812/fostering-information-pack/pdf/Hackney-fostering-information-pack'
  to learn more about Hackney Fostering.
