%section.section
  %h1
    Welcome to the start of your foster carer application
  %p
    During your initial visit, you were given a unique code by your social worker.

  %p
    Please enter the code below:

  %p
    full_application/name_change

%section.actions
  = button_to 'Continue to questions', :applications, class: 'confirm'