body {
  font-family: $stack;
  font-size: $body;
  line-height: $baseline;
}

h1 {
  font-size: 30px;
  line-height: 38px;
}

h2 {
  font-size: 22px;
  line-height: 32px;
}

p {
  font-size: $body;
}

a {
  color: $black;
}

