@font-face {
  font-family: 'DroidSans';
  src: url('fonts/DroidSans.eot'); /* IE9 Compat Modes */
  src: url('fonts/DroidSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/DroidSans.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/DroidSans.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/DroidSans.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/DroidSans.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'DroidSans-Bold';
  src: url('fonts/DroidSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/DroidSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/DroidSans-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/DroidSans-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/DroidSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/DroidSans-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  font-family: $stack;
  font-size: $body;
  line-height: $baseline;
}

h1 {
  font-size: 30px;
  line-height: 38px;
}

h2 {
  font-size: 22px;
  line-height: 32px;
}

p {
  font-size: $body;
}

