%h1 Your References

%p Talking to people who have known you over a period of time helps us get a more complete understanding of you as a future foster carer.

%p Your references should be a mixture of:

%ul
  %li 1-2 family members
  %li Ex-colleagues
  %li Neighbours
  %li Friends

%section.actions
  = simple_form_for person, url: wizard_path, method: :put do |f|
    = f.submit t('continue'), class: "confirm"
