%section.section
  %h1 Your References

  %p Talking to people who have known you over a period of time helps us get a more complete understanding of you as a future foster carer. Your references will need to have known you for longer than 6 months.

  %div.box.info
    %h2 You will need 6 references
    %p.bold They should be a mixture of:
    %ul.default
      %li 1-2 family members
      %li Ex-colleagues
      %li Neighbours
      %li Friends

  = simple_form_for person, url: wizard_path, method: :put do |f|
    = render partial: 'actions', locals: { form: f }
