%section
  %h1
    = question['title']
  %p
    = question['info']
/   %h1
/     = question['heading']
/   %p
/     = question['intro']

/   %p
/     = question['extra']

/   %ul
/     %li
/       = question['list_1']
/     %li
/       = question['list_2']
/     %li
/       = question['list_3']
/     %li
/       = question['list_4']

/   / %ul.box
/   /   %li
/   /     This is something that you haven't filled in.
/   /   %li
/   /     Here is another thing you haven't completed.
/   /   %li
/   /     The third thing in the list you haven't done.


