%section.section
  %h1 
    Welcome to the start of your foster carer application

  - if flash[:error]
    %ul.box
      %li= flash[:error]
  - else
    %p 
      During your initial visit, you were given a unique code by your social worker.

  = simple_form_for :application, url: find_applications_path, method: :get do |f|
    = f.input :application_id, as: :string, label: 'Please enter the code below to continue', input_html: { name: 'application_id' }
    = f.submit t('continue_b'), class: "confirm"