%h1 Welcome to the Foster Carer Application

- if flash[:error]
  .alert.alert-error
    %p= flash[:error]
- else
  %p During your initial visit, you were given a unique code by your social worker

= simple_form_for :application, url: find_applications_path, method: :get do |f|
  = f.input :application_id, as: :string, label: 'Please enter the code below', input_html: { name: 'application_id' }
  = f.submit t('submit'), class: "confirm"
