%section.section
  %h1 Your support carer

  %p When fostering a child, having a support network is very important. As part of that network you will need to choose someone you know to be your support carer.

  %h2 What is a support carer and why do I need one?

  %p Your support carer will have the same legal responsibility as you in an emergency (known as delegated authority). For example, if you are unable to pick the child up from school or are unexpectedly taken into hospital, your support carer will be able to take care of them - overnight if needed.

  %h2 What should my potential support carer know?

  %p They will be required to undergo background checks as well as getting two references. We will be visiting your support carers home during their checks.

  %p Please inform them so they know what to expect.

  %h2 What will happen next?

  %p When you click the button below, you will be prompted to provide the name and email address of your support carer. Once completed, someone from our fostering team will be in contact with them to complete their support carer application.

  = simple_form_for application, url: wizard_path, method: :put do |f|
    = render partial: 'actions', locals: { form: f }
