%section.section
  %h1 Thank you for providing your details
  -if application.be_in_touch == "contact_me"
    %p
      A member from our team will
      -if application.contacting_you == "contact_phone"
        ="give you a call some time in the " + application.contact_phone_time.to_sentence(last_word_connector: ' or ')
      - else
        send you an email
      within 1 to 2 days.
  %p You will receive a confirmation email, in the meantime please download the information brochure to learn more about Hackney Fostering.

  = link_to 'Download information brochure', 'https://www.hackney.gov.uk/media/10812/fostering-information-pack/pdf/Hackney-fostering-information-pack', class: 'button confirm'

  %br
  %br
  %p If you would like to talk to someone about how to be a foster carer in the future, please contact us:

  %ul
    %li
      %strong
        Freephone:
      0800 0730 418
    %li
      %strong
        Email:
      fostering.recruitment@hackney.gov.uk
