%section.section
  %h1 Thank you for providing your details

  %p
    A member from our team will be in touch to help you with the next steps.
  %p In the meantime please download the information pack to learn more about Hackney Fostering.

  = link_to 'Download information pack', download_info_pdf_path

  %br
  %br
  %p If you would like to talk to someone about how to be a foster carer, please contact us:

  %ul
    %li
      %span.bold
        Freephone:
      0800 0730 418
    %li
      %span.bold
        Email:
      fostering.recruitment@hackney.gov.uk
