%section.section
  %h1 Thank you for providing your details

  %p
    A member from our team will be in touch within 1-2 days.
  %p
    You will receive a confirmation e-mail, in the meantime please download the information brochure to learn more about Hackney Fostering.

  = link_to 'Download information brochure', 'name_change', class: "button secondary"

%section.section
  %p
    If you would like to talk to someone about how to be a foster carer in the future, please contact us on the details below:

  %ul
    %li
      %strong
        Telephone: 
      0800 0730 418
    %li
      %strong
        Email:
      fostering.recruitment@hackney.gov.uk 

