.back_links
  =link_to "https://www.hackney.gov.uk/fostering", target: "_blank" do
    =fa_icon "caret-left"
    Return to Hackney Fostering

%section
  %h1 Apply to be a foster carer
  %p Welcome to the first stage of becoming a foster carer. This application form is designed to allow completion over multiple vists. That means if you feel like you need to come back to something later, you can.

  .box.info
    %h2 Before you start
    %p.bold You will need the following information and documents:
    %ul.default
      %li Your address history for the past 7 years
      %li National Insurance Number
      %li Contact details for 6 personal references

  %section.actions
    = link_to 'Begin your application', 'name_change_info', class: 'button confirm button_start'

%section.before_start
  %p
    %span.bold Background checks
    %br
    We conduct background checks to ensure the safety of the foster child.

