= simple_form_for pet, url: wizard_path, method: :put do |f|
  - @questions.each do |q|
    = render partial: q['widget'].to_s, locals: { form: f, question: q }
  %section.actions
    = f.submit t('continue'), class: "confirm"
