.box {
  border: $border-style $border-width*2 $negative;
  padding: $baseline;
  margin-bottom: 15px;
  margin-top: 15px;
  li {
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.info {
    border-color: $gray-lighter;
    background: $gray-lighter;
  }
  p {
    font-weight: 600;
  }
  .bold {
    margin-bottom: 5px;
  }
  ul, li {
    margin-bottom: 0;
  }
  @include mob_tab {
    padding: $baseline/2;
  }
}

ul.box {
  list-style-type: disc;
  color: $negative;
  padding-left: 2rem;
  &.info {
    color: $black;
  }
}
