.box {
  border: $border-style $border-width*2 $negative;
  padding: $baseline;
  margin-bottom: 15px;
  margin-top: 15px;
  li {
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.info {
    border-color: $gray-lighter;
    background: $gray-lighter;
  }
  p {
    font-weight: 600;
  }
  .bold {
    margin-bottom: 5px;
  }
  ul, li {
    margin-bottom: 0;
  }
  @include mob_tab {
    padding: $baseline/2;
  }

  &.complete {
    border: none;
    background: $brand;
    text-align: center;
    color: #fff;
    padding: 40px 30px;
    margin-bottom: 50px;

    h1 {
      font-size: 43px;
      line-height: 50px;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}

ul.box {
  list-style-type: disc;
  color: $negative;
  padding-left: 2rem;
  &.info {
    color: $black;
  }
}
