#{$all-buttons}, .button {
  @include button-shadow;
  position: relative;
  appearance: none;
  background-color: $black;
  border: $border-style $border-width $black;
  border-radius: 0;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $stack;
  font-size: $body;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $baseline*0.5 $gutter;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &:hover {
    background-color: $black;
    color: $white;
  }
  &:active {
    background-color: $white;
  }
  &:focus {
    outline: none;
    outline-offset: none;
  }
  &.confirm {
    background-color: $brand;
    border-color: $brand;
    &:active {
      @include button-active-shadow;
    }
    &:hover {
      background-color: rgba($brand, 0.9);
    }
  }
  &.secondary {
    @include shadow-none;
    background: none;
    border: none;
    color: $brand-b;
    padding: 0;
    text-decoration: underline;
    &:hover {
      color: $brand-b2;
    }
  }
}


.button_start {
  font-weight: 700;
  text-transform: none;
  font-size: 24px;
  line-height: 1.25;
  background-image: image-url("gds/icon-pointer.png");
  background-size: 30px 19px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding: 0.36842em 2.15789em 0.21053em 0.84211em;
  margin-top: 15px;
}


.other_actions {
  margin-top: 1.5em;
  padding: 0.5em 0;
  border-top: rgba($medium-gray, 0.5) 1px solid;
}
