.check_boxes {
  > label {
    display: none;
  }
}

span.checkbox {
  font-size: 19px;
  line-height: 25px;
  display: block;
  position: relative;
  min-height: 40px;
  margin-bottom: 10px;
  padding: 0 0 0 40px;
  clear: left;

  label {
    display: inline-block;
    padding: 8px 15px 5px;
    cursor: pointer;
    touch-action: manipulation;

    &:before {
      content: "";
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      border: 2px solid currentColor;
      background: transparent;
    }
    &:after {
      content: "";
      position: absolute;
      top: 12px;
      left: 10px;
      width: 19px;
      height: 11px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      border: solid;
      border-width: 0 0 5px 5px;
      border-top-color: transparent;
      opacity: 0;
      background: transparent;
    }
  }
  input[type=checkbox]{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0;
    opacity: 0;
    &:checked + label {
      &:after {
        opacity: 1;
      }
    }
    &:focus + label:before {
      -webkit-box-shadow: 0 0 0 3px rgba($brand, 0.8);
      box-shadow: 0 0 0 3px rgba($brand, 0.8);
    }
  }
}

