
$stack: "Arial";

$brand: #ffa300; //PMS 137
$brand-b: #005f61; //PMS 323
$brand-b2: #009Ca6; // PMS 320
$positive: #00664f; //PMS 336
$positive: #00B140; //PMS 354
$hover: $brand;
$active: $brand;
$negative: #e03c31; // PMS 179