%hr/

%p
  You are receiving this message because you have applied to be a foster carer on the Hackney Fostering
  website. To stop receiving emails, you can
  = link_to 'unsubscribe from all emails', "<%asm_preferences_raw_url%>".html_safe
