%section.section
  %h1 Tell us about your home
  
  %h2 What is your current address?

= simple_form_for setup_application(application), url: wizard_path, html: { class: 'address_form' }, method: :put do |f|

  = f.fields_for @model, f.object.send(@model).try(:last), child_index: f.object.send(@model).try(:length) do |ff|
    = render partial: "shared/address_fields", locals: { form: ff }
    
  %section.actions
    = f.submit 'Continue', class: "confirm hidden"
