/ %nav.nav.side#menu
/   %ul
/     %li
/       = link_to 'Fostering in Hackney', page_path(id: :fostering)
/     %li
/       = link_to 'What is fostering?', page_path(id: :what)
/     %li
/       = link_to 'Who can foster?', page_path(id: :who)
/     %li
/       = link_to 'Why foster with Hackney?', page_path(id: :why)
/     %li
/       = link_to 'Check if you can foster', page_path(id: :eligibility)
