%section.section
  %h1
    Check if you can be a foster carer
  %p
    To help you understand if you can be a foster carer, you will be asked between 4-6 questions.
  %p
    The information will be different depending on your answers.

%section.actions
  = button_to t('start'), :applications, class: 'confirm button-start'
