%section
  %h1 Check if you can be a foster carer
  %p Use this service to help you understand if you can be a foster carer, this will take around 3 minutes.
.actions
  = button_to t('start'), :applications, class: 'button confirm button_start'

%section.before_start
  %h2 Before you start
  %p There's no such thing as a 'typical' foster carer; but as part of the approvals process you will need to meet the following criteria:
  %ul.default
    %li be over 21, and capable to meet the demands of parenthood
    %li be in reasonably good health, fit and well enough to care for children into adulthood
    %li be able to offer a secure home with a spare room
    %li have the time to foster
