%section.section
  %h1
    Fostering in Hackney
  %p
    Across Hackney, children of all backgrounds are looking for homeswith foster carers so that they can have a better start in life.
  %p
    Many of them are teenagers

  = link_to 'Check if you can foster', 'eligibility', class: 'button confirm'

%section.section
  = link_to 'What is fostering?', 'what', class: 'button secondary'

%section.section

  %h2
    Help provide better futures
  %p
    Being a foster carer plays a hugely important role for a teenager in care. From supporting them through school exams to take part in extracurricular activities and learning to become an adult.
  %p
    Foster carers make a big difference to their lives. They want a place that they can call home, where they feel safe and can develop their confidence.
  %p
    Fostering can be difficult. Not just for you and the child involved, but your family. It's also incredibly rewarding. You'll be making a difference to children and young people who need your help, love and support.
  %p
    We all work together. This way we can make sure the best possible support and services are in place to provide better futures for children all round Hackney.


  %h2
    Monthly introduction sessions

  %p
    There are drop-in information sessions happening every month. If you think you can help make a difference for a teenager or are just interested in knowing more about fostering, register to come along.

  %ul
    %li
      %strong
        Where:
    %li
      Hackney Learning Trust building,
    %li
      1 Reading Lane,
    %li
      E8 1GQ.

%section.section
  %p
    Wednesday 1 November, 11am
  %button.button.secondary
    Register

%section.section
  %p
    Wednesday 6 December, 5:30pm
  %button.button.secondary
    Register

%section.section
  %p
    Wednesday 12 November, 11am
  %button.button.secondary
    Register

%section.section

  %h2
    Can't find what you're looking for? Get in touch
  %p
    If you have previously been a foster carer, have more questions or simply want to talk to someone, please get in touch.

  %ul
    %li
      %strong
        Our address:
    %li
      Fostering Recruitment,
    %li
      Corporate Parenting,
    %li
      Hackney Service Centre,
    %li
      1 Hillman Street,
    %li
      E8 1DY.

%section.section
  %ul
    %li
      %strong
        Call us:
    %li
      0800 0730 418

  %ul
    %li
      %strong
        Email us:
    %li
      fostering.recruitment@hackney.gov.uk

  %ul
    %li
      %strong
        Opening times:
    %li
      Monday to Friday from 9am to 5pm




