%section.section
  %h1
    You have been sucessfully unsubscribed
  %p
    You will no longer receive any emails from us.
  %p
    If you clicked this link in error, please #{mail_to ENV['FOSTERING_EMAIL_ADDRESS'], 'contact us'} to resubscribe.
