body {
  // @include grid-visual;
  @include grid-container;
}

header.header {
  @include grid-container;
  .logo {
    @include grid-column(2);
  }
  .title {
    @include grid-column(8);
  }
  .admin {
    @include grid-column(2);
  }
}

nav.nav {
  @include grid-column(3);
  padding: 0 $gutter;
  margin-left: 0;
  width: calc(25% - 5px);

}

main {
  @include grid-container;
  .main {
    @include grid-column(8);
    @include grid-push(2);
  }
}

nav.nav + main.main {
  @include grid-column(6);
  @include grid-push(0);
  form {
    .application_day,
    .application_month,
    .application_year {
      @include grid-column(2 of 6);
      width: calc(33.3333333333% - 13.3333333333px);
    }
    .application_day {
      margin-left: 0;
    }
  }
}

select {
  @include grid-column(3);
  width: calc(50% - #{$gutter*0.5});
  margin-left: 0;
  float: none;
}

footer.footer {
}
