%table
  %tr
    %th
      Type
    %th
      Size
    %th
      Neutered?
    %th
      Age
    %th
      Rooms allowed
    %th
      Pet areas
    %th
      Sleeping area
    %th
      Feeding area
    %th
      Temprament
    %th
      Toilet area
    %th
      Bitten or hurt?
    %th
      Details of biting / hurt
    %th
      Registered with a vet?
    %th
      Regular vaccinations?
    %th
      Experience with children
  = render partial: 'pet', collection: pets, as: :pet
