%table
  %tr
    %th
      First Name
    %th
      Last Name
    %th
      Address
    %th
      Email
    %th
      Phone Number
    %th
      Relationship
    %th
      Years Known
  = render partial: 'referee', collection: referees
