@mixin gds_button_shadow {
  top: 0;
  -moz-box-shadow: 0 2px 0 0 $black;
  -webkit-box-shadow: 0 2px 0 0 $black;
  box-shadow: 0 2px 0 0 $black;
}

@mixin gds_button_shadow_active {
  top: 2px;
  -moz-box-shadow: 0 0 0 0 $black;
  -webkit-box-shadow: 0 0 0 0 $black;
  box-shadow: 0 0 0 0 $black;
}

@mixin gds_button_shadow_none {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@mixin gds_input_focus($color: $brand) {
  -webkit-box-shadow: 0 0 0 3px rgba($color, 0.8);
  box-shadow: 0 0 0 3px rgba($color, 0.8);
  outline: none;
  outline-offset: 0;
}

@import "elements/box";
@import "elements/buttons";
@import "elements/checkbox";
@import "elements/forms";
@import "elements/images";
@import "elements/select";
@import "elements/simple-form";
@import "elements/lists";
@import "elements/typography";
@import "elements/radio";
