.box.complete
  %h1 Application Complete
  %p You will receive a confirmation email.

%section
  %h2 What happens next?
  %p If there are any other children or adults over the age of 16 living with you, the service will provide you with a form to ask for their consent.

  %p A health form will be sent by post to you. This will need to be completed by yourself and your general practitioner (GP).

  %p A member of the fostering service will be in touch if any further information or documentation is required for background checks for you or any adults that may be living with you.

  %p The fostering service will follow up with your references and support carer to gather the information required to complete your application.
