%section.section
  %h1 Consent

  %p
    The information i've provided is accurate and correct.
  %p
    I undertake to be truthful and honest in providing full and accurate information for this assessment, both verbally and in writing.

  = simple_form_for application, url: application_confirmations_path(application_id: application.code), method: :post do |form|
    %section.actions
      = render partial: 'actions', locals: { form: form }
