%section.section
  %h1 Edit Address
  
= simple_form_for [address.application, address], method: :put do |form|
  
  = render partial: 'fields', locals: { form: form }

  %section.actions
    = form.submit 'Save', class: "confirm"
    
