%header
  .container
    = link_to image_tag('logo_white.svg'), '/', class: 'logo'
    .right
      .login_button
        - if user_login_signed_in?
          = link_to('Log out', destroy_user_login_session_path, method: :delete)
        - else
          = link_to('Sign in', new_user_login_session_path)
      .menu_btn
        .button.secondary Menu
  .supergraphic
