header {
  background-color: $black;
  margin-bottom: 25px;
  position: relative;
  .logo img {
    width: 186px;
    vertical-align: middle;
  }

  @include mob_tab {
    .container {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}

.back_links {
  margin-bottom: 25px;
}

nav.side_nav {
  a {
    color: $black;
    text-decoration: none;
    opacity: 0.9;
    &:hover, &.current {
      opacity: 1 !important;
    }
    &[data-visited] {
      font-style: italic;
      opacity: 0.7;
    }
    &.currentPage {
      font-weight: 700;
      opacity: 1 !important;
      font-style: normal;
      color: $brand;
    }
  }
  ul {
    li {
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
  .sub_nav {
    margin-bottom: 0;
    li {
      font-weight: 300;
      margin-bottom: 0;
      &:before {
        content: '– ';
      }
    }
  }

  @include mob_tab {
    display: none;
  }
}

.gender, .dob, .country_of_birth, .town_of_birth, .nationality, .language, .other_language, .are_you_religious, .what_is_your_name_change, .previous_name_period, .other_language_select, .what_is_your_religion {
  #about_link a {
    font-weight: 700;
    opacity: 1 !important;
    font-style: normal;
    color: $brand;
  }
}

.employment_history, .national_insurance, .occupation, .name_of_employer, .name_of_employer_contact, .number_for_employer_contact, .email_for_employer_contact {
  #work_link a {
    font-weight: 700;
    opacity: 1 !important;
    font-style: normal;
    color: $brand;
  }
}

.full_address, .previous_addresses {
  #home_link a {
    font-weight: 700;
    opacity: 1 !important;
    font-style: normal;
    color: $brand;
  }
}

.children_at_home, .children_living_at_home, .children_elsewhere, .children_living_elsewhere, .adults_at_home, .adults_living_at_home, .adults_elsewhere, .adults_living_elsewhere {
  #family_link a {
    font-weight: 700;
    opacity: 1 !important;
    font-style: normal;
    color: $brand;
  }
}

.support_carer {
  #carer_link a {
    font-weight: 700;
    opacity: 1 !important;
    font-style: normal;
    color: $brand;
  }
}

.pets_welcome {
  #pets_link a {
    font-weight: 700;
    opacity: 1 !important;
    font-style: normal;
    color: $brand;
  }
}

.legal_history {
  #legal_link a {
    font-weight: 700;
    opacity: 1 !important;
    font-style: normal;
    color: $brand;
  }
}

.confirmations {
  #consent_link a {
    font-weight: 700;
    opacity: 1 !important;
    font-style: normal;
    color: $brand;
  }
}
