header {
  background-color: $black;
  margin-bottom: 25px;
  position: relative;
  .logo img {
    width: 186px;
    vertical-align: middle;
  }
}

.back_links {
  margin-bottom: 25px;
}

nav {
  a {
    color: $black;
    text-decoration: none;
    &.current {
      font-weight: 800;
      color: $brand;
    }
  }
  li {
    font-weight: 600;
  }
  .sub_nav {
    margin-bottom: 0;
    li {
      font-weight: 400;
      margin-bottom: 0;
      &:before {
        content: '–';
      }
    }
  }
}
