.supergraphic {
  display: block;
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 19px;
  border-top: $brand-light solid 4px;
  border-bottom: #9bcf80 solid 2px;
  &:after {
    content: "";
    background: #74c044;
    top: 5px;
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
  }
}
