%p
  Dear #{@resource.user.first_name}

%p
  Thank you for applying to become a foster carer with the Hackney fostering service.
  In order to start your application you will need to create a password for your account so that you can come back to the application at any time. Use the link below to get started and create a password for your application.

%p= link_to "Create application", confirmation_url(@resource, confirmation_token: @token)

%p
  Thanks
  %br/
  Hackney Fostering

= render 'shared/applicant_footer'
