%section.section
  %img
    = image_tag('/img_03.png')

%section.section
  %h1
    Why foster with Hackney?

  %h2
    Training
  %p
    We provide both core and specialised training, as well as Monthly clinical supervision groups led by family therapists and drop-in sessions with the nurse and education specialists.
  %h2
    Community
  %p
    You'll also be able to call on the support of a network of fellow foster carers, through support groups and social events.
  %h2
    Priority placement
  %p
    As the main providers for making sure the children and young people in Hackney are placed in the best care possible, we prioritise homes of foster carers who work with us directly.
  %h2
    Financial support
  %p
    Allowances are linked to your training and learning, so as you progress through levels 1 to 3 you will be rewarded as you develop your skills. Additional allowances are paid for holidays, birthdays and festive occasions and we can make a contribution toward setting up costs, such as essential equipment or furniture. Click here to learn more about allowances and financial support.

%section.actions
  = link_to 'Register to see if you can help', 'eligibility', class: 'button confirm'
