%h1
  Welcome
%h2
  Lorem ipsum dolor sit amet.

%p
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua.

%section.actions
  = button_to 'Continue', :foster_checks, class: 'confirm'
